node_modules
.next
.next-dev
.git
.gitignore
.DS_Store
.env
.env.*
docker.env
docker-data
宝塔Docker部署包-*
发布包
**/*.db
**/*.db-*
**/*.db-journal
**/*.db-shm
**/*.db-wal
public/images/signatures/*
tsconfig.tsbuildinfo
npm-debug.log*
docs/*.docx
docs/*.pdf
